<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaanu.melodicglitch">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/speaker"
        android:label="@string/app_name"
        android:roundIcon="@drawable/speaker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".FInalActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".FifthActivity" />
        <activity android:name=".SixthActivity" />
        <activity android:name=".SeventhActivity" />
        <activity android:name=".EighthActivity" />
        <activity android:name=".NinthActivity" />
        <activity android:name=".TenthActivity" />
        <activity android:name=".EleventhActivity"></activity>
    </application>

</manifest>